.version_parentBlock {
  height: 100vh;
  background: url("../../assests/images/MobileVersion/library.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.version_parentBlock > div:nth-child(1) {
  width: 540px;
  height: 288px;
}
.version_parentBlock > div:nth-child(2) {
  max-width: 620px;
}
.version_parentBlock > div:nth-child(2) h5 {
  font-weight: 500;
  font-size: 36px;
  line-height: 125.3%;
  color: #FFFFFF;
}
.version_parentBlock > div:nth-child(2) > div {
  text-align: right;
  padding: 0 40px 0 0;
}