.container {
  width: 1200px;
  margin: 0 auto;
}
.standart_headers {
  width: 100%;
  text-align: center;
}
.standart_headers_h4 {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 125.3%;
}
.standart_headers_span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 125.3%;
  color: #ff4004;
}
