@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  align-items: center;
  color: white;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
