.parent_manasPart {
  height: 657px;
  background-image: url("../../assests/images/MainPage/ManasPart/manas.jpg");
  background-size: cover;
}

.parent_manasPart_shadow {
  height: 657px;
  background-color: rgba(0, 0, 0, 0.6);
}
.parent_manasPart_shadow .child_manasPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 657px;
}
.parent_manasPart_shadow .child_manasPart_right {
  text-align: center;
}
.parent_manasPart_shadow .child_manasPart_right h3 {
  font-weight: 500;
  font-size: 36px;
  line-height: 125.3%;
  margin-bottom: 30px;
}
.parent_manasPart_shadow .child_manasPart_right a {
  font-weight: 500;
  font-size: 22px;
  line-height: 125.3%;
  color: #fff;
  width: 300px;
  height: 35px;
  border-bottom: 2px solid #FF4004;
  padding: 5px;
}